* {
    padding: 10px;
}

.pageFrame {
    width: 900px;
    height: 700px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    border: 1px solid black;
}

.logInBox {
    width: 450px;
    height: 700px;
    margin: 0;
    padding: 0;
    border-right: 1px dotted black ;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.logInBox .loginText {
    font-size: 30px;
}

.logInBox .logInForm {
    display: flex;
    flex-flow: column;
}
.siteInformation {
    width: 450px;
    height: 700px;
}


/* site Information */

.siteInformation .title {
    font-size: 40px;
    border-bottom: 1px double black;
}

.siteInformation .slideBox {
    height: 300px;
    border: 1px solid black;
}

.siteInformation .logInBox button {
    font-size: 20px;
    width: 50px;
    height: 100px;

}


/* Type Selection */

.aloneBox, 
.groupBox {
    width: 450px;
}

.aloneBox {
    border-right: 1px dotted black;
}

.aloneBox .text ,
.groupBox .text {
    font-size: 70px;
    font-family: cursive;
}

.aloneBox button,
.groupBox button {
    position: relative;
    top: 40%;
    left: 35%;
}

/* aloneStudy.html */

.aloneToDoBox,
.statisticsBox {
    width: 450px;
    padding: 0;
    margin: 0;
}

.aloneToDoBox {
    border-right: black dotted 1px;
}

.aloneToDoBox .toDoTitle,
.statisticsBox .statisticsTitle {
    height: 70px;
    background-color: beige;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    line-height: 70px;
}
.aloneToDoBox .subjectTitle button {
    padding: 3px;
    background-color: bisque;
    border: solid beige 1px;
    border-radius: 15px;
    cursor: pointer;
}

.aloneToDoBox .subjectTitle .deleteButton {
    float: right;
}

.aloneToDoBox .subjectBox {
    border: 1px solid black;
    margin: 10px;
    border-radius: 40px;
}

.aloneToDoBox .subjectBox .details {
    padding: 0;
    margin: 0;
}

.aloneToDoBox .subjectBox .details ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}
.aloneToDoBox .subjectBox .details button {
    padding: 3px;
    background-color: bisque;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.aloneToDoBox .subjectAddButton {
    font-size: 30px;
    line-height: 30px;
    background-color: goldenrod;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* popup_studying.html */

.studyingPopupFrame {
    width: 300px;
    height: 450px;
    border: solid black 1px;
    padding: 0;
}

.studyingPopupFrame .timeBox {
    border-bottom: 1px solid black;
    padding: 0;
    margin: 0;
    position: relative;
    height: 170px;
}

.studyingPopupFrame .timeBox .subjectName {
    font-size: 30px;
    text-align: center;
}
.studyingPopupFrame .timeBox .subjectTime {
    font-size: 30px;
    text-align: center;
}
.studyingPopupFrame .timeBox .todayStudyTime {
    position: absolute;
    left: 10px;
}

.studyingPopupFrame .timeBox .todayRestTime {
    position: absolute;
    right: 10px;
}
.studyingPopupFrame .restOrExit {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.studyingPopupFrame .restOrExit button {
    padding: 5px;
    background-color: bisque;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.studyingPopupFrame .toDoList ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* setRestTime.html */

.setRestTimeFrame {
    height: 100px;
    width: 200px;
    border: solid 1px black;

}
.setRestTimeFrame form {
    text-align: center;
}

.setRestTimeFrame input {
    padding: 0;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    text-align: right;
}
.setRestTimeFrame button {
    display: block;
    margin: 20px auto 5px auto;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

/* popup_resting.html */

.popupRestingFrame {
    padding: 0;
    height: 140px;
    width: 260px;
    border: solid 1px black;
}
.popupRestingFrame span.title {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.popupRestingFrame p {
    padding: 0;
    text-align: center;
}

.popupRestingFrame button {
    display: block;
    margin: 20px auto 10px auto;
    width: 70px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}

/* groupStudy.html */


.groupToDoBox,
.liveListBox {
    width: 450px;
    padding: 0;
    margin: 0;
}

.groupToDoBox {
    border-right: black dotted 1px;
}

.groupToDoBox .toDoTitle,
.liveListBox .title {
    height: 70px;
    background-color: beige;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    line-height: 70px;
}
.groupToDoBox .subjectTitle button {
    padding: 3px;
    background-color: bisque;
    border: solid beige 1px;
    border-radius: 15px;
    cursor: pointer;
}

.groupToDoBox .subjectTitle .deleteButton {
    float: right;
}

.groupToDoBox .subjectBox {
    border: 1px solid black;
    margin: 10px;
    border-radius: 40px;
}

.groupToDoBox .subjectBox .details {
    padding: 0;
    margin: 0;
}

.groupToDoBox .subjectBox .details ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}
.groupToDoBox .subjectBox .details button {
    padding: 3px;
    background-color: bisque;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.groupToDoBox .subjectAddButton {
    font-size: 30px;
    line-height: 30px;
    background-color: goldenrod;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.liveListBox {
    text-align: center;
}
.liveListBox span.studyingCount {
    color: red;
}

.liveListBox .MemberPart {
    width: 170px;
    height: 130px;
    border: 1px solid black;
    margin: 10px 10px;
    text-align: center;
    display: inline-block;
    
}

.liveListBox .streamingScreen {
    width: 160px;
    height: 90px;
    border: 1px solid blue;
    padding: 0;
    margin: auto;
}

.liveListBox .memberName, 
.liveListBox .studyingTime {
    display: inline-block;
    margin: auto;
}

/* liveStreaming.html */

.liveStreamingScreen {
    border: 1px solid black;
    width: 600px;
    height: 400px;
}