<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resting</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="popup">
    <div class="popupRestingFrame">
      <form action="">
        <span class="title">< 휴식중 ></span>
        <p>
          <span class="min">14</span>분 <span class="sec">25</span>초
          남았습니다.
        </p>
        <button class="submit">끝내기</button>
      </form>
    </div>
  </body>
</html>
