<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resting</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/imgs/book.png" />
  </head>
  <body class="popup">
    <div class="popupRestingFrame">
    <span class="title">< 휴식중 ></span>
      <p>
      <span class="min">{{minute}}</span>분
      <span class="sec">{{second}}</span>초 남았습니다.
    </p>
      <button onclick="location.href='/typeSelection/aloneStudy/re_studying/?dayID={{dayID}}'"">끝내기</button>
    </div>
  </body>
</html>