<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>popup_studying</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body class="popup">
    <div class="studyingPopupFrame">
      <div class="timeBox">
        <div class="subjectName">Node.js 교과서</div>
        <div class="subjectTime">00:00:00</div>
        <div class="todayStudyTime">study : 00:00:00</div>
        <div class="todayRestTime">rest : 00:00:00</div>
      </div>
      <div class="restOrExit">
        <button class="rest">휴식</button>
        <button class="exit">끝내기</button>
      </div>
      <div class="toDoList">
        <ul>
          <li><input type="checkbox" />2장 복습</li>
          <li><input type="checkbox" />npm 정리하기</li>
        </ul>
      </div>
    </div>
  </body>
  <script>
    const subjectTime = document.querySelector('.timeBox .subjectTime');
    const todayStudyTime = document.querySelector('.timeBox .todayStudyTime');
    let subjectSec = 0,
      todayStudySec = 0;

    function sec_To_HHMMSS(sec) {
      const hour = Math.floor(sec / 3600);
      const min = Math.floor((sec % 3600) / 60);
      const rest = (sec % 3600) % 60;
      const result =
        `${hour >= 10 ? hour : `0${hour}`}:` +
        `${min >= 10 ? min : `0${min}`}:` +
        `${rest >= 10 ? rest : `0${rest}`}`;

      return result;
      // console.log(hour, min, rest);
    }

    function stopwatch() {
      subjectSec++;
      todayStudySec++;
      // console.log(subjectSec);

      subjectTime.innerHTML = sec_To_HHMMSS(subjectSec);
      todayStudyTime.innerHTML = `study : ${sec_To_HHMMSS(todayStudySec)}`;
    }

    function init() {
      const studyInterval = setInterval(stopwatch, 1000);

      const startRestBtn = document.querySelector(
        '.studyingPopupFrame .restOrExit .rest',
      );

      startRestBtn.onclick = () => {
        const option = 'top=150px left=150px width=350px height=200px';
        window.open('./setRestTime.html', 'setRestTime', option);
      };
    }

    init();
  </script>
</html>
