<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="signUpFrame">
        <h1>회원가입</h1>
        <form action="/auth_fos/signUp" method="post" class="signUpForm">
            <label>EMAIL <input type="email" id="join_email" name="email" required autofocus></label> 
            <label>ID <input type="text" id="join_id" name="localId" required></label>
            <label>NICKNAME <input type="text" id="join_nick" name="nick" required></label>  
            <label>PW <input type="password" id="join_password" name="password" required></label> 
            <label>PW AGAIN <input type="password" id="join_passwordAgain" name="passwordAgain" required></label> 
            <button type="submit">가입</button>
        </form>
    </div>
</body>
<script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error') === 'exist') {
        alert('이미 존재하는 아이디입니다.');
      }
      else if (new URL(location.href).searchParams.get('error') === 'notMatch') {
        alert('비밀번호가 일치하지 않습니다.');
      }
    };
  </script>
</html>