<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Type Selection</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <div class="navbarLogo">
        <div class="goBack">
          <a href="./main.html">⇦</a>
        </div>
        <a href="#" class="navbarLogo">Focus on Study</a>
      </div>
      <div class="navbarMenu div">
        <ul class="navbarMenu">
          <li class="navbarMenuItem">Profile</li>
          <li class="navbarMenuItem">Logout</li>
        </ul>
      </div>
    </nav>
    <div class="pageFrame">
      <div class="aloneBox">
        <div class="text">Alone</div>
        <button
          type="button"
          class="aloneButton"
          onclick="location.href='/typeSelection/aloneStudy'"
        >
          혼자 공부하기
        </button>
      </div>
      <div class="groupBox">
        <div class="text">Group</div>
        <form action="./groupStudy.html">
          <div class="selectGroup">
            <select>
              <option value="1팀">1팀</option>
              <option value="2팀">2팀</option>
            </select>
          </div>
          <div class="groupButton">
            <button 
              type="button"
              class="groupButton grpbtn"
              onclick="location.href='/typeSelection/groupStudy'"
            >
              그룹 공부하기
            </button>
          </div>
          <!-- <button class="groupButton">
              <a href="#"> 그룹 공부하기</a>
            </button> -->
        </form>
        </button>
      </div>
    </div>
  </body>
</html>
